[lb]
${lb_ip} ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[app]
%{ for ip in app_ips ~} 
${ip} ansible_ssh_common_args='-o StrictHostKeyChecking=no'
%{ endfor ~}

[all:vars]
site_name=${fqdn}