digitalocean_access_token=
public_ssh_key_file_path=
private_ssh_key_file_path=
digitalocean_existing_ssh_key_name=
email_tag=
aws_access_key=
aws_secret_key=
aws_zone_name=
droplet_count=
personal_domain_prefix=
