digitalocean_access_token =
public_ssh_key_file_path =
private_ssh_key_file_path =
digitalocean_existing_ssh_key_name =
email_tag =
team_tag = 
password_parameters = {
  length =
  special =
}
balancer_droplet_parameters = {
  image = 
  name = 
  vcpus = 
  memory = 
  disk = 
}
app_droplet_parameters = {
  count = 
  image = 
  name = 
  vcpus = 
  memory = 
  disk = 
}
droplets_connection = {
  type = 
  user = 
  agent = 
}
aws_parameters = {
  provider_region = 
  provider_access_key = 
  provider_secret_key = 
  zone_name = 
  record_name = 
  record_type = 
  record_ttl = 
}
devs = [
  {
    prefix = 
    login = 
  },
  {
    prefix =
    login = 
  }
]
